.email-verification{
    background-color: var(--primary-background);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: max(30vw,250px);
    padding: 20px;
    box-shadow: var(--shadow);
    border-radius: 15px;
    margin: 100px auto;
}
.email-verification p{
    margin: 20px;
    color: var(--button-color);
}
.email-verification button{
   width: 150px;
   padding: 5px;
   text-align: center;
   border-radius: 10px;
   border: none;
   font-size: 20px;
   cursor: pointer;
   background-color: var(--button-color);
   color: white;
   font-weight: 600;
}