
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
          
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  /* background-color: var(--primary-background); */
  padding: 1rem;
  font-family: 'Inter', sans-serif;
  
}

.form-card {
  background-color: var(--primary-background);
  padding: 2.5rem;
  border-radius: 0.75rem;
  box-shadow: var(--shadow);
  width: 100%;
  max-width: 24rem;
  animation: fadeIn 0.5s;
  animation: scalingAnima 0.5s;
}


.form-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #4b5563;
  margin-bottom: 0.5rem;
}

.form-input {
  width: 90%;
  padding: 0.75rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #1f2937;
  transition: border-color 0.2s;
}

.form-input:focus {
  outline: none;
  border-color: #2563eb;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.25);
}

.submit-btn {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  color: #ffffff;
  font-weight: 600;
  background-color: var(--button-color);
  border: none;
  transition: background-color 0.2s, opacity 0.2s;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #1e40af;
}

.submit-btn:disabled {
  background-color: #93c5fd;
  cursor: not-allowed;
  opacity: 0.8;
}

.message {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.875rem;
}

.message.error {
  color: #dc2626;
}

.message.success {
  color: #16a34a;
  margin-bottom: 80px;
}

.timer-text {
  display: block;
  text-align: center;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #6b7280;
}
