.search-keys{
    width:max(30vw,250px);
    max-height: 320px;
    position: absolute;
    background-color: var(--primary-background);
    overflow: hidden;
    z-index: 20;
    right: 10vw;
    border-radius:10px;
    /* padding: 10px; */
    margin-top: 10px;
    box-shadow: 0 0 15px rgba(134, 132, 132, 0.726);
    visibility: hidden;
}
.search-keys .search-key p{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding:10px;
    white-space: nowrap;
    overflow: hidden;
}
.search-keys .search-key:hover{
    background-color: var(--primary-backgroundhover);
    cursor: pointer;
}
.search-bar:focus-within .search-keys,
.search-keys:hover {
    visibility: visible;
}



